<nav>
  <div class="logo"></div>
  <p>Universo de P치ginas</p>
  <ul>
    <li>
      <a href="/inicio">Inicio</a>
    </li>
    <li>
      <a href="/api/products">Productos</a>
    </li>
    <li>
      <a href="/api/users/profile">Usuario</a>
    </li>
    <li>
      <a href="/api/users/logout">Cerrar sesi칩n</a>
    </li>
  </ul>
</nav>

<main>
<h1>Ingresa los datos para a침adir un producto</h1>

<form method="POST" action="/api/products">
    <label for="name">Nombre del Producto</label>
    <input type="text" name="name">

    <label for="description">Descripci칩n del Producto</label>
    <input type="text" name="description">

    <label for="price">Precio Unidad</label>
    <input type="number" name="price">

    <label for="stock">Stock actual</label>
    <input type="number" name="stock">

    <label for="category">Categoria</label>
    <select name="category">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <label for="thumbnail">Foto del Producto</label>
    <input type="text" name="thumbnail">



    <button type="submit">Registrar producto</button>
</form>

</div>
</main>
<footer>
  <p>Lissett Leal 2024</p>
  <div class="contactos">
    <a href="https://github.com/lissleal">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="">
      <i class="fa-solid fa-briefcase"></i>
    </a>
    <a href="https://www.linkedin.com/in/lissett-leal/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p>Realizado con fines educativos</p>
</footer>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>