<div className="descproducto">
  <h1>Contraseña Actualizada con Éxito</h1>
  <p>Tu contraseña ha sido actualizada correctamente.</p>
</div>

<a href="/login"><h2>Volver al login</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />