<h1>Bienvenido a Carrito de Compras</h1>
<h3>Secciones</h3>

<ul>
  <li class="item_navbar"> <a href="/login">Login</a></li>
  <li class="item_navbar"> <a href="/api/products">Productos</a></li>
  <li class="item_navbar"> <a href="/api/users/current">Usuario Actual</a></li>
  <li class="item_navbar">
    <a href="/addProducts">Agregar Productos al Inventario (Opcion solo para
      admin)</a></li>

</ul>

<link rel="stylesheet" type="text/css" href="/css/style.css" />