<div class="divproducto">
  <form method="POST" action="/api/users/login">
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <button type="submit">Login</button>
  </form>

  <a href="/api/users/github">Ingresar con GitHub</a>
  <a href="/register">Registrarse</a>

</div>

<a href="/inicio"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />