<div class="divproducto">

  <h1>Perfil de {{user.role}}</h1><h3><a href="/api/users/logout">Cerrar sesión</a></h3>
  <p>Email: {{user.email}}</p>

</div>

<a href="/inicio"><h2>Volver al inicio</h2></a>
<a href="/api/products"><h2>Ir a todos los productos</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />