<div class="divproducto">
  <h1>Perfil de Usuario</h1>
  <p>Usuario de {{user.role}}</p>
  <p>Email: {{user.email}}</p>
  <p>Id: {{user.id}}</p>
  <a href="/api/users/logout">Cerrar sesión</a>
  <a href="/api/users/premium/{{user.id}}">Cambiar premium/User</a>

  {{#if isAuthorized}}
    <a href="/addProduct"><h2>Cargar un nuevo producto</h2></a>
    <a href="/manage-products"><h2>Modificar Productos</h2></a>
  {{/if}}
  {{#if isAdmin}}
    <a href="/allusers"><h2>Todos los usuarios</h2></a>
  {{/if}}

</div>

<a href="/inicio"><h2>Volver al inicio</h2></a>
<a href="/api/products"><h2>Ir a todos los productos</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />