<div className="descproducto">
  <form method="post" action="/api/users/request-password">
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <button type="submit">Restablecer Contraseña</button>
  </form>
</div>
<hr />
<a href="/inicio"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css" />